/* CSS Variables */
:root {
    --background-color: #fff;
    --primary: #1AB8DB;
    --delete: #E50000;
    --grey: #ccc9c9;

    --shadows: 0 1px 3px rgba(0,0,0,0.12);
}

/* Universal selector styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
}

body {
    background-color: var(--background-color);
    color: var(--primary);
}