@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Work+Sans:wght@200&display=swap");

/* CSS VARIABLES */
:root {
  --light-background: #fff;
  --work: #f6b50f;
  --personal: #2093ff;
  /* --placeholder-text: #444444bc; */
  --placeholder-text: #aeaeaec7;
  --delete: #ff5e5ee3;
  --grey: #a9a9a9;
  --dark-grey: #4d4d4d;

  /* GRADIENT COLORS */
  --primary-gradient: -webkit-linear-gradient(
    top,
    #a7d4ff 0%,
    #005081 47%,
    #147bb6 70%,
    #00abe5 94%,
    #02a8e4 100%
  );
  --background: rgb(206, 217, 255);
  --background-color: radial-gradient(
    circle,
    rgba(206, 217, 255, 1) 0%,
    rgba(195, 207, 251, 1) 50%,
    rgba(235, 238, 249, 1) 100%
  );

  /* BOX-SHADOW */
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* TEXT-SHADOW */
  --text-shadows: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* UNIVERSAL SELECTOR STYLING */
* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Below removes input and checkbox default styling */
input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
  font-family: "Questrial", sans-serif;
}

input[type="radio"] {
  display: none;
}

::placeholder {
  color: var(--placeholder-text);
  font-style: italic;
}

/* UNIVERSAL BUTTON STYLING */
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
  cursor: pointer;
}

main {
  background: var(--background);
  background-image: var(--background-color);
  padding-top: 2rem;
  border-radius: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

section {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

label {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 1rem;
}

#todo-list-form {
  background-color: var(--light-background);
  border-radius: 1rem;
  padding-top: 1.75rem;
  margin: 0;
}

#title, #description {
  display: block;
  width: 85%;
  font-size: 1rem;
  text-align: center;
  padding: 0.9rem 0rem 0.9rem 0rem;
  margin: 10px 0 0 10px;
}

#title:hover, #description:hover {
  border-radius: 0.5rem;
  background-color: #ececec4e;
  width: 90%;
}

#add-task-btn {
  z-index: 10;
  position: absolute;
  display: block;
  margin: 0 auto;
  bottom: -86px;
  color: #ffffff;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 10px solid #cbd8ff;
  border-radius: 9999px;
  transition: all 0s;
}

#add-task-btn:hover {
  opacity: 0.85;
  transform: translateY(-1px);
}

#add-task-btn:active {
  transform: translateY(1px);
}
.circle {
  z-index: -1;
  position: absolute;
  bottom: -142px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background-color: var(--light-background);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 15px -25px;
}

/* ADD TASK BUTTON SIZING */
.fa-circle-plus {
  /* Fix sizing! */
  /* font-size: 2.71rem; */
  /* font-size: 43.36px; */
  font-size: 45px;
}

.create-submit {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5rem;
}

/* STYLING FOR CATEGORIES(WORK / PERSONAL  */
.category-selectors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-selectors label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-background);
  padding: 0.75rem 2rem;
}

.fa-bookmark {
  font-size: 1.2rem;
  margin-top: 3px;
}

/* Strike-through for completed tasks ***NOT WORKING*** */
.task-item.completed .task-content input{
	text-decoration: line-through;
	color: var(--grey);
}

.personal-category-btn {
  color: var(--personal);
  border-bottom-left-radius: 1rem;
}

.work-category-btn {
  color: var(--work);
  border-bottom-right-radius: 1rem;
}

.work-category-btn,
.personal-category-btn {
  font-size: 0.8em;
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  margin-top: 2px;
  transition: all 0s;
}

label.work-category-btn:active {
  background-color: #f6b50f3a;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

label.personal-category-btn:active {
  background-color: #2093ff2b;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.work-category-btn:hover,
.personal-category-btn:hover {
  opacity: 0.85;
  transform: translateY(-1px);
}

.work-category-btn:active,
.personal-category-btn:active {
  transform: translateY(1px);
}

#list-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: bold;
}

#search-filter-section {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 1rem;
  text-align: center;
  align-items: center;
}

/* STYLING FOR SORT BUTTON */
#filter {
  width: 85px;
}

select {
  font-family: "Questrial", sans-serif;
  font-size: 15px;
  margin-left: 0.3rem;
  margin-bottom: 15px;
  padding: 0.4rem;
  border: none;
  outline: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}
option {
  font-family: "Questrial", sans-serif;
  font-size: 12px;
}
/* END OF STYLING FOR SORT BUTTON */

/* SEARCH BAR STYLING */
#search-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
}

#search-bar input {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem 1.5rem;
  padding-right: 0rem;
  background-color: var(--light-background);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
}

#search-submit-btn {
  position: absolute;
  display: block;
  right: 0rem;
  top: 0;
  background-color: var(--light-background);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.53rem;
  color: var(--grey);
}

#task-list {
  border-radius: 0.5rem;
  background-color: var(--light-background);
  box-shadow: var(--box-shadow);
}

#task-list .task-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-background);
  padding: 1.75rem;
  margin-bottom: 0rem;
  margin: 0 1rem;
  border-bottom: 0.01px solid rgba(229, 225, 225, 0.919);
}
div.task-item:hover {
  border-radius: 0.5rem;
  /* background-color: #e1e1e163 !important; */
  background-color: #ececec4e !important;
}

.task-content .task-item {
  flex: 1 1 0%;
}

.task-content .task-item .text {
  color: var(--dark-grey);
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task-content .edit-delete {
  /* display: flex; */
  margin: 0 -0.5rem;
}

/* Edit button styling */

.fa-pencil {
  /* ADD COLOR */
  font-size: 1.25rem;
  margin: 5px;
  color: var(--grey);
  /* background-image: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

/* DELETE BUTTON STYLING */
.fa-trash {
  font-size: 1.25rem;
  margin: 5px;
  background: rgb(255, 0, 14);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 14, 1) 0%,
    rgba(119, 2, 2, 1) 50%,
    rgba(196, 68, 68, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-hide-description {
  font-size: 0.95rem;
  text-decoration: underline;
  font-style: italic;
  position: relative;
  right: -25px;
  bottom: -30px;
  color: var(--dark-grey);
}

.show-hide-description:hover {
opacity: 0.75;
}

.show-hide-description:active {
  color: #000;
}

.task-content .edit-delete button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
}

.fa-floppy-disk {
  font-size: 1.3rem;
  margin: 5px;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.edit,
.delete {
  position: relative;
  right: -120px;
  transition: all 0.1s;
}

.edit:hover,
.delete:hover {
  opacity: 0.75;
}

.edit:active,
.delete:active,
.fa-floppy-disk:active {
  transform: translateY(1px);
}
