/* CSS Variables */
:root {
    --background-color: #fff;
    --primary: #1AB8DB;
    --secondary: #1593AF;
    --delete: #E50000;
    --grey: #ccc9c9;
    --dark-grey: #444444;

    --shadows: 0 1px 3px rgba(0,0,0,0.12);

    /* add linear gradients */
}

/* Universal selector styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
}

/* Below will remove input and checkbox default styling */
/* input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
} */

body {
    background-color: var(--background-color);
    color: var(--primary);
}

input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.05rem;
	padding: 0.99rem 1.5rem;
    padding-right: 0rem;
	color: var(--dark-grey);
	background-color: var(--background-color);
    border: 0.1px solid var(--grey);
    border-radius: 9999px;
}

#task-submit-btn{
    position: absolute;
    display: block;
    right: 0rem;
    bottom: -0.5px;
    border: none;
    background-color: transparent;
    color: var(--primary);
}

/* #search-submit-btn {
    position: absolute;
    display: block;
    right: 0rem;
    bottom: -0.5px;
    border: none;
    background-color: transparent;
    color: var(--primary);
} */

/* #task-submit-btn {
    position: absolute;
    display: block;
    right: 0rem;
    bottom: -0.5px;
    border: none;
    background-color: transparent;
    color: var(--primary);
} */

main {
    padding-left: 2rem;
    padding-right: 2rem;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--grey);
}

/* add gradient color to fa-logo */

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#sub-header {
    margin-top: 1rem;
    text-align: center;
    align-items: center;
}

#search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

#create-task-heading {
    color: var(--grey);
    margin-top: 1rem;
}

.category-heading {
    text-align: center;
    margin-bottom: 0.75rem;
}

.category-selectors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.category-selectors label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding: 0.5rem 2rem;
    border-radius: 999999px;
    color: #fff;
    /* margin-bottom: 1rem; */
}

#work-label-btn {
background-color: var(--grey);
}

.create-submit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
}

.create-task {
    text-align: center;
}